# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build
/build-firefox
/package

# misc
.DS_Store
.history
*.log

# secrets
.env
.env.*
!.env.example
secrets.*.js

# ide
.vscode/